/* GOLOBAL SECTION CODE START */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

/* GOLOBAL SECTION CODE END */
/* HEADER SECTION CODE START */
.header {
    width: 100%;
    min-height: 130vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header .container {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.header .container img {
    width: 150px;
}

.header .container .menu {
    flex: 1;
    text-align: right;
}

.header .container .menu ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.header .container .menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.header .container .menu ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
}

.header .container .menu ul li:hover:after {
    width: 100%;
    transition: 0.5s;
}

.header .text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header .text-box h1 {
    font-size: 62px;
}

.header .text-box p {
    margin: 10px 0px 40px;
    font-size: 14px;
}

.button-all {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-style: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.button-all:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;

}

.container .fa {
    display: none;
}

/* */
@media(max-width:700px) {
    .header .text-box h1 {
        font-size: 20px;
    }

    .header .container .menu ul li {
        display: block;
    }

    .header .container .menu {
        position: absolute;
        background: #f44336;
        width: 200px;
        height: 35vh;
        right: -200px;
        top: 10px;
        ;
        text-align: left;
        z-index: 2;
        border-radius: 10px 0px 0px 10px;
        transition: 1s;
    }

    .container .fa {
        display: block;
        color: #fff;
        margin: 20px;
        font-size: 22px;
        cursor: pointer;
    }

    .header .container .menu ul {
        padding: 20px;
    }
}

/* HEADER SECTION CODE END */
/* COURSES SECTION CODE START */
.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1 {
    font-size: 36px;
    font-weight: 600;
}

.course p {
    color: #777;
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
}

.course .row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course .row .course-col {
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.course .row .course-col h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}

.course .row .course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.5s linear;
}

/*  */
@media(max-width:700px) {
    .row {
        flex-direction: column;
    }
}

/* COURSES SECTION CODE START */
/* CAMPUS SECTION CODE START */
.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus p {
    margin-bottom: 80px;
}

.campus .campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus .campus-col img {
    width: 100%;
    display: block;
}

.campus .campus-col .layer {
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.campus .campus-col .layer:hover {
    background-color: rgba(226, 0, 0, 0.7);
    transition: 0.5s;
}

.campus .row {
    display: flex;
    justify-content: space-between;
}

.campus .row .campus-col .layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 22px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.campus .row .campus-col .layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/* CAMPUS SECTION CODE END */
/* FACILITIES SECTION CODE START */
.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

.facilities .row {
    display: flex;
    justify-content: space-between;
}

.facilities .row .faclities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities .row .faclities-col div p {
    padding: 0px;
}

.facilities .row .faclities-col h3 {
    margin: 16px 0px;
}

.facilities .row .faclities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin: 5% 0%;
    text-align: left;
}

/* FACILITIES SECTION CODE END */
/* TESTIMONIALS SECTION CODE START */
.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;

}

.testimonials p {
    padding-bottom: 50px;
}

.testimonials .row {
    display: flex;
    justify-content: space-between;

}

.testimonials .row .testimonials-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align-last: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
}

.testimonials .row .testimonials-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonials .row .testimonials-col p {
    padding: 0px;
    text-align: left;
    font-size: 14px;
}

.testimonials .row .testimonials-col h3 {
    margin-top: 15px;
}

.testimonials .row .testimonials-col .fa {
    color: #f44336;
}

/* TESTIMONIALS SECTION CODE START */
/* CALL TO ACTION SECTION CODE START */
.cta {
    width: 80%;
    margin: 100px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0px;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0px;

}

@media(max-width:700px) {
    .cta h1 {
        font-size: 24px;
    }
}

/* CALL TO ACTION SECTION CODE END */
/*  FOOTER TO ACTION SECTION CODE START */
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.i-con .row .i-con-col img {
    width: 30px;
    margin-top: 30px;
}

/*  FOOTER TO ACTION SECTION CODE END */